@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


    

        <div class="mt-3">
            <label class="form-label">Select Organization</label>
            @* <input type="text" class="form-control"  /> *@
        <select id="dropdown" class="form-control">
            
        </select>
        </div>

        <div class="mt-3">
            <label class="form-label">Count of Org</label>
            <input type="text" class="form-control" readonly="readonly" id="countorg" />
        </div>


        <div class="mt-3">
        <button  class="btn btn-primary" onclick="getorgcount()">GetCount</button>
        </div>

    

<script src="~/query/getdropdown.js"></script>
